.content02 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .content02-text-align {
        display: flex;
        justify-content: center;
        height: 50%;

        .content02-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 900px;

            .content-text-l {
                font-size: 3rem;
                width: 100%;
                color: #ffffff;
                font-weight: bold;
                margin-left: 15px;
                letter-spacing: 1px;
            }

            p {
                display: flex;
                flex: 1;
                color: gray;
                justify-content: space-around;
            }
        }
    }

}